div.JR {
    font-family: 'TTTtangsbudaejjigaeB';
    text-align: center;
}
div.JR-header {
    font-weight: 1500;
    color: palevioletred;
}
div.JR-img-box {
    margin-top: 50px;
    margin-bottom: 30px;
}
div.JR-PC-img {
    margin-top: 30px;
}
div.JR-VS {
    font-family: '돋움', sans-serif;
    font-weight: 800;
    font-size: 50px;
    color: red;
}
div.JR-title {
    font-weight: 700;
    font-size : 30px;
}
div.JR-DIV {
    display: inline-block;
    margin-top: 50px;
    margin-left : 50px;
    margin-right: 50px;
    background-color: rgb(215, 235, 250);
    width : 100px;
    padding: 50px;
    border-radius: 50px;
}
div.jr-mt3 {
    margin-top: 50px;
    font-size: 50px;
}